body {
  background-image: url("unsplash-clouds.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  width: 600px;
  max-width: 600px;
  display: block;
  margin: 10px auto 10px auto;
  font-family: var(--bs-font-sans-serif);
  color: #ebeffc;
}

.form {
  padding: 10px 10px 10px 5px;
  text-align: center;
  display: inline;
}
.pin {
  display: inline;
}
.card {
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 0.4;
  padding: 8px 15px;
  max-width: 450px;
}
.card-body {
  padding: 0;
  text-align: center;
}

.overview {
  font-size: 18px;
  padding: 40px 0 0 15px;
  font-family: var(--bs-font-sans-serif);
  font-weight: 500;
  width: 240px;
  text-align: left;
  color: #ebeffc;
}

.time {
  font-size: 18px;
  text-align: center;
  color: #ebeffc;
}

#top-row {
  height: 120px;
}

a {
  color: #ebeffc;
}

.details {
  padding: 40px 0 0 0;
  font-size: 18px;
  text-align: right;
  color: #ebeffc;
  font-family: var(--bs-font-sans-serif);
}

li {
  list-style: none;
  font-weight: 400;
}

li:first-letter {
  text-transform: capitalize;
}

h1 {
  color: #ebeffc;
  font-size: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
h2 {
  color: #ebeffc;
  font-size: 18px;
  padding: 0 0 0 5px;
  max-width: 200px;
  margin-bottom: 0;
  display: inline;
}
.high-low {
  font-size: 18px;
}

h4 {
  color: #ebeffc;
  padding: 0 0 0 5px;
  margin-bottom: 0;
}

.fa-cloud-sun {
  color: #ebeffc;
  font-size: 150px;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  padding: 0;
}
.align-items-start {
  width: 500px;
  margin-left: 24px;
}

.day {
  color: #ebeffc;
  text-align: left;
  font-size: 18px;
}
.emoji {
  color: #ebeffc;
  text-align: center;
  font-size: 18px;
  padding-left: 40px;
}
.temp {
  color: #ebeffc;
  text-align: right;
  font-size: 18px;
  padding-right: 0px;
}

h5 {
  color: #ebeffc;
  font-size: 12px;
  text-align: center;
}
