body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  width: 600px;
  max-width: 600px;
  display: block;
  margin: 10px auto 10px auto;
  font-family: var(--bs-font-sans-serif);
  color: #ebeffc;
  line-height: normal;
  background-image: url("");
}

#background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  width: 600px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.container {
  padding-top: 10px;
  width: 600px;
  max-width: 600px;
}

.form {
  padding: 10px 10px 10px 5px;
  text-align: center;
  display: inline;
}
.pin {
  display: inline;
}
.card {
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 0.4;
  padding: 8px 15px;
  max-width: 450px;
}
.card-body {
  padding: 0;
  text-align: center;
}

.overview {
  font-size: 18px;
  padding: 20px 0 0 15px;
  font-family: var(--bs-font-sans-serif);
  font-weight: 500;
  width: 240px;
  text-align: left;
  color: #ebeffc;
}

#left {
  padding-left: 30px;
}
#left-days {
  padding-left: 30px;
}

.time {
  text-align: center;
  color: #ebeffc;
  height: 25px;
}

#top-row {
  height: 70px;
}

#top-row .active {
  cursor: default;
}

#top-row .active:hover {
  text-decoration: none;
  color: #ebeffc;
}

a {
  color: #ebeffc;
  text-decoration: none;
}

.temperature {
  font-size: 25px;
}

.details {
  padding: 20px 0 0 0;
  font-size: 18px;
  text-align: right;
  color: #ebeffc;
  font-family: var(--bs-font-sans-serif);
}

li {
  list-style: none;
  font-weight: 400;
}

li:first-letter {
  text-transform: capitalize;
}

h1 {
  color: #ebeffc;
  font-size: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
h2 {
  color: #ebeffc;
  font-size: 18px;
  padding: 0 0 0 5px;
  max-width: 200px;
  margin-bottom: 0;
  display: inline;
}
.high-low {
  font-size: 18px;
}

h4 {
  color: #ebeffc;
  padding: 0 0 0 5px;
  margin-bottom: 0;
}

img {
  color: #ebeffc;
}
#icon {
  color: #ebeffc;
  font-size: 150px;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  padding: 0;
  height: 170px;
}

.align-items-start {
  width: 500px;
  margin-left: 24px;
  margin-right: 24px;
}

.day {
  color: #ebeffc;
  text-align: left;
  font-size: 18px;
}
.emoji {
  color: #ebeffc;
  text-align: center;
  font-size: 18px;
  padding-left: 40px;
}
.temp {
  color: #ebeffc;
  text-align: right;
  font-size: 18px;
  padding-right: 0px;
}

#forecast-icon {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  height: 20px;
  text-align: center;
  color: #ebeffc;
}
#forecast-icon {
  color: #ebeffc;
}
h5 {
  color: #ebeffc;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

h6 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 350;
  font-size: 18px;
}

#desctiption:first-letter {
  text-transform: capitalize;
}

#minTemp {
  opacity: 75%;
  font-weight: 300;
}
